@model Resume.Models.Conspectus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conspectus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummaryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SummaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
