@model Resume.Models.Conspectus

@{
    ViewData["Title"] = "Edit";
    
}





<h1>Editing the resume: @Model.ResumeName</h1>
<p>Please fill out all the required fields below to populate the resume. To start, click below on "Resume Name and User Display Name," to open the accordian menu for those items. Next, fill out the fields inside the accordian section. Then click save at the bottom. Remember to save often and fill out all the required items in each section.</p>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UId" />

            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Resume Name and User Display Name
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-floating">

                                <input asp-for="ResumeName" class="form-control" oninput="resumeSlug()" id="rname" />
                                <label asp-for="ResumeName" class="form-label">Resume Name: Alphnumeric characters and spaces only.</label>
                                <span asp-validation-for="ResumeName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                @*<label for="basic-url" class="form-label">Your vanity URL</label>*@
                                <label asp-for="ResumeSlug" class="form-label mt-2">The resume name above will be converted to the url slug below. This url is what you give employers to access your resume.</label>
                                <div class="input-group mb-3">
                                    <span class="form-control">@ViewData["Message"]</span>
                                    @*<input asp-for="ResumeName" class="form-control">*@
                                    <input asp-for="ResumeSlug" id="rslug" type="text" class="form-control" readonly />
                                </div>
                            </div>

                            <div class="form-floating">

                                <input asp-for="UserDisplayName" class="form-control" />
                                <label asp-for="UserDisplayName" class="form-label"></label>
                                <span asp-validation-for="UserDisplayName" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="UserAspiration" class="form-control" />
                                <label asp-for="UserAspiration" class="form-label"></label>
                                <span asp-validation-for="UserAspiration" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Summary or Objective
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-floating">

                                <textarea asp-for="Summary" class="form-control rDescription"></textarea>
                                <label asp-for="Summary" class="form-label"></label>
                                <span asp-validation-for="Summary" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


                @* Experience Section *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Experience
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label asp-for="ExperienceName" class="form-label">Name Displayed on the Experience Section</label>
                                        <input asp-for="ExperienceName" class="form-control" />
                                        <span asp-validation-for="ExperienceName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-8">
                                        <a class="align-self-end" onclick="addExperience()"><i class="bi bi-plus-square-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="ExperienceWrapper">
                                @{
                                    if (Model.Experiences != null)
                                    {
                                        for (int i = 0; i < Model.Experiences.Count; i++)
                                        {
                                            var currentCheck = "";
                                            var edDisable = "";
                                            SingleExperience se = Model.Experiences[i];
                                                <div id="Experience@(i)" class="form-group mb-2">

                                                    <div class="row mb-2">
                                                        <div class="col-8  text-start">
                                                            @{
                                                                if (se.Current)
                                                                {
                                                                    currentCheck = "checked";
                                                                    edDisable = "disabled";
                                                                }

                                                            }
                                                            <div class="form-check">

                                                                @Html.CheckBoxFor(model => model.Experiences[i].Current,
                                                                  new Dictionary<string, object>{
                                                                     {"onclick",$"Current('Experiences[{i}].EndDate', 'CurrentCheck[{i}]')"},
                                                                      {"id", $"CurrentCheck[{i}]" }
                                                                  })




                                                                @*@Html.CheckBoxFor(model => model.Experiences[i].Current)*@
                                                                @*<input asp-for="@se.Current">*@
                                                                @*<input name="Experiences[@i].Current" onclick="Current('Experiences[@i].EndDate', 'CurrentCheck[@i]')" class="form-check-input" type="checkbox" id="CurrentCheck[@i]" @currentCheck>*@
                                                                <label class="form-check-label" for="CurrentCheck[@i]">
                                                                    Current Employment?
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-4  text-end">
                                                            <a class="text-danger" onclick="deleteElement('Experience@(i)')">Delete</a>
                                                        </div>

                                                        </div>
                                                    <div class="row bg-light">
     
                                                        <div class="col-lg-4">

                                                            <div class="form-floating">

                                                                <input type="date" name="Experiences[@i].StartDate" id="Experiences[@i].StartDate"
                                                                       class="form-control mb-2"
                                                                       value="@se.StartDate"
                                                                       min="1930-01-01" max="">
                                                                <label class="form-label">Start Date</label>
                                                            </div>


                                                            <div class="form-floating">
                                                                <input type="date" name="Experiences[@i].EndDate" id="Experiences[@i].EndDate"
                                                                       class="form-control mb-2"
                                                                       value="@se.EndDate"
                                                                       min="1930-01-01" max="" @edDisable>
                                                                <label class="form-label">End Date or Current</label>
                                                            </div>
                                                            


                                                            <div class="form-floating">
                                                                <input name="Experiences[@i].Company" id="Experiences[@i].Company" type="text" class="form-control mb-2" value="@se.Company" />
                                                                <label class="form-label">Company Name</label>
                                                            </div>
                                                            
                                                            

                                                            <div class="form-floating">
                                                                <input name="Experiences[@i].Position" id="Experiences[@i].Position" type="text" class="form-control mb-2" value="@se.Position" />
                                                                <label class="form-label">Position Title</label>
                                                            </div>
                                                            
                                                           

                                                            <div class="form-floating">
                                                                <input name="Experiences[@i].Location" id="Experiences[@i].Location" type="text" class="form-control mb-2" value="@se.Location" />
                                                                <label class="form-label">Location (City, State)</label>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="form-floating">
                                                                <textarea data-val="true" class="form-control rDescription" 
                                                                          data-val-maxlength="The field Description must be a string or array type with a maximum length of &#x27;1024&#x27;."
                                                                          data-val-maxlength-max="1024"
                                                                          data-val-minlength="The field Description must be a string or array type with a minimum length of &#x27;5&#x27;."
                                                                          data-val-minlength-min="5"
                                                                          id="Experiences[@i].Description" name="Experiences[@i].Description">@se.Description</textarea>
                                                                <label class="form-label">Description</label>

                                                            </div>
                                                            

                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>

                                        }

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @* End Experience Section *@



                @* Education Section *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Education
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label asp-for="EducationName" class="form-label">Name Displayed on the Experience Section</label>
                                        <input asp-for="EducationName" class="form-control" />
                                        <span asp-validation-for="EducationName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-8">
                                        <a class="align-self-end" onclick="addEducation()"><i class="bi bi-plus-square-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="EducationWrapper">
                                @{
                                    if (Model.Educations != null)
                                    {
                                        for (int i = 0; i < Model.Educations.Count; i++)
                                        {
                                            SingleEducation sedu = Model.Educations[i];
                                            var currentCheck = "";
                                            var edDisable = "";
                                            <div id="Education@(i)" class="form-group mb-2">

                                                <div class="row mb-2">
                                                    <div class="col-8  text-start">
                                                        @{
                                                            if (sedu.Current)
                                                            {
                                                                currentCheck = "checked";
                                                                edDisable = "disabled";
                                                            }

                                                        }
                                                        <div class="form-check">

                                                            @Html.CheckBoxFor(model => model.Educations[i].Current,
                                                              new Dictionary<string, object>{
                                                                 {"onclick",$"Current('Educations[{i}].EndDate', 'CurrentCheck[{i}]edu')"},
                                                                  {"id", $"CurrentCheck[{i}]edu" }
                                                              })




                                                            @*@Html.CheckBoxFor(model => model.Experiences[i].Current)*@
                                                            @*<input asp-for="@se.Current">*@
                                                            @*<input name="Experiences[@i].Current" onclick="Current('Experiences[@i].EndDate', 'CurrentCheck[@i]')" class="form-check-input" type="checkbox" id="CurrentCheck[@i]" @currentCheck>*@
                                                            <label class="form-check-label" for="CurrentCheck[@i]">
                                                                Current Student?
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-4  text-end">
                                                        <a class="text-danger" onclick="deleteElement('Education@(i)')">Delete</a>
                                                    </div>

                                                </div>

                                                <div class="row bg-light">

                                                    <div class="col-lg-4">
                                                        <div class="form-floating">


                                                            <input type="date" name="Educations[@i].StartDate" id="Educations[@i].StartDate"
                                                                   class="form-control mb-2"
                                                                   value="@sedu.StartDate"
                                                                   min="1930-01-01" max="">
                                                            <label class="form-label">Start Date</label>
                                                        </div>


                                                        <div class="form-floating">
                                                            <input type="date" name="Educations[@i].EndDate" id="Educations[@i].EndDate"
                                                                   class="form-control mb-2"
                                                                   value="@sedu.EndDate"
                                                                   min="1930-01-01" max="">
                                                            <label class="form-label">End Date or Current</label>
                                                        </div>


                                                        <div class="form-floating">
                                                            <input name="Educations[@i].School" id="Educations[@i].School" type="text" class="form-control mb-2" value="@sedu.School" />
                                                            <label class="form-label">School Name</label>
                                                        </div>


                                                        <div class="form-floating">
                                                            <input name="Educations[@i].Degree" id="Educations[@i].Degree" type="text" class="form-control mb-2" value="@sedu.Degree" />
                                                            <label class="form-label">Degree</label>
                                                        </div>

                                                        <div class="form-floating">
                                                            <input name="Educations[@i].Location" id="Educations[@i].Location" type="text" class="form-control mb-2" value="@sedu.Location" />
                                                            <label class="form-label">Location (City, State)</label>
                                                        </div>
                                                        <div class="form-floating">
                                                            <input name="Educations[@i].GPA" id="Educations[@i].GPA" type="text" class="form-control mb-2" value="@sedu.GPA" />
                                                            <label class="form-label">GPA</label>
                                                        </div>

                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="form-floating">
                                                                <textarea data-val="true" class="form-control rDescription"
                                                                          data-val-maxlength="The field Description must be a string or array type with a maximum length of &#x27;1024&#x27;."
                                                                          data-val-maxlength-max="1024"
                                                                          data-val-minlength="The field Description must be a string or array type with a minimum length of &#x27;5&#x27;."
                                                                          data-val-minlength-min="5"
                                                                          id="Educations[@i].Description" name="Educations[@i].Description">@sedu.Description</textarea>
                                                                <label class="form-label">Description</label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                <hr />
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @* End Education Section *@

                @* Skill Section *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Skill
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label asp-for="SkillName" class="form-label">Name Displayed on the Skills Section</label>
                                        <input asp-for="SkillName" class="form-control" />
                                        <span asp-validation-for="SkillName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-8">
                                        <a class="align-self-end" onclick="addSkill()"><i class="bi bi-plus-square-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="SkillWrapper" class="alternate">
                                @{
                                    if (Model.Skills != null)
                                    {
                                        for (int i = 0; i < Model.Skills.Count; i++)
                                        {
                                            SingleSkill sedu = Model.Skills[i];

                                            <div id="Skill@(i)" class="form-group p-3">
                                                <div class="row">
                                                    <div class="col-lg-1">
                                                        <a class="text-danger" onclick="deleteElement('Skill@(i)')"><i class="bi bi-x-square"></i></a>
                                                    </div>
                                                    <div class="col-lg-3">

                                                        <label class="form-label">Skill Name</label>
                                                        <input name="Skills[@i].Name" id="Skills[@i].Name" type="text" class="form-control mb-2" value="@sedu.Name" />

                                                    </div>

                                                    <div class="col-lg-8">
                                                        <label class="form-label">Skill Rating - From Left to Right - 0 to 100 Respectively</label>
                                                        <div class="slidecontainer">
                                                            <input name="Skills[@i].SkillRating" id="Skills[@i].Rating" type="range" class="slider mb-2 bg-cbrightOdd" value="@sedu.SkillRating" />
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                            </div>

                                        }

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @* End Skill Section *@

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Contact Information
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordiSixxample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input asp-for="ContactName" class="form-control" />
                                        <label class="form-label">Contact Section Name</label>
                                        <span asp-validation-for="ContactName" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Contacts.Email" class="form-control" />
                                        <label asp-for="Contacts.Email" class="form-label"></label>
                                        <span asp-validation-for="Contacts.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        @*<input asp-for="Contacts.Phone" class="form-control" />*@
                                        <input asp-for="Contacts.Phone" placeholder="123-456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" />
                                        <label asp-for="Contacts.Phone" class="form-label">Phone: Format: ###-###-####</label>
                                        <span asp-validation-for="Contacts.Phone" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Contacts.Linkedin" class="form-control" />
                                        <label asp-for="Contacts.Linkedin" class="form-label"></label>
                                        <span asp-validation-for="Contacts.Linkedin" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Contacts.PersonalWebsite" class="form-control" />
                                        <label asp-for="Contacts.PersonalWebsite" class="form-label"></label>
                                        <span asp-validation-for="Contacts.PersonalWebsite" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-group mt-5">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
