@model IEnumerable<Resume.Models.Conspectus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResumeName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResumeName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> </a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-file-text"></i> </a>
                @*<a asp-controller="hm" asp-route-id="@item.ResumeSlug"><i class="bi bi-file-text"></i> </a>*@
                <a asp-controller="hm" asp-action="@item.ResumeSlug"><i class="bi bi-file-text"></i> </a>
                
            </td>
        </tr>
}
    </tbody>
</table>
